name: Controller Pipeline
on:
    push:
        branches: [updates]
    pull_request:
        branches: [main]
jobs:
    run-notebooks:
        uses: ./.github/workflows/run-notebooks.yml
    # run-scripts:
        #needs: run-notebooks # scripts run after notebooks pass
        # uses: ./.github/workflows/run-scripts.yml
    lint:
        needs: [run-notebooks]
        uses: ./.github/workflows/lint.yml
    
    merge-updates:
        needs: [run-notebooks,lint]
        uses: ./.github/workflows/merge-updates.yml