name: Controller Pipeline

on:
  push:
    branches: [updates]
  pull_request:
    branches: [main]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t project-image .

      - name: Setup Kaggle credentials
        run: |
          mkdir -p ~/.kaggle
          echo "{\"username\":\"${{ secrets.KAGGLE_USERNAME }}\",\"key\":\"${{ secrets.KAGGLE_KEY }}\"}" > ~/.kaggle/kaggle.json
          chmod 600 ~/.kaggle/kaggle.json

      - name: Download Kaggle data in Docker
        run: |
          docker run --rm \
            -v ${{github.workspace }}/data:/app/data \
            -v ~/.kaggle:/root/.kaggle \
            project-image \
            bash -c "kaggle competitions download -c csiro-biomass -p /app/data && unzip /app/data/*.zip -d /app/data"
          

      - name: Run notebooks inside Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/data:/app/data \
            -v ${{ github.workspace }}/notebooks:/app/notebooks \
            project-image \
            bash -c 'for nb in /app/notebooks/*.ipynb; do \
                        jupyter nbconvert --to notebook --execute "$nb" --output "$nb"; \
                     done'

  lint:
    needs: build-and-run
    uses: ./.github/workflows/lint.yml

  merge-updates:
    needs: [build-and-run, lint]
    uses: ./.github/workflows/merge-updates.yml
