name: Merge Updates into Main

on:
  workflow_call

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Merge updates into main
        run: |
          git fetch origin main
          git checkout main
          git merge origin/updates --allow-unrelated-histories -X theirs
          git push origin main
